{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Add to cart{% endblock %}

{% block content %}
    <div class="content">

        <form method="post" class="product-form">

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <h2>Add product to cart</h2>

            <hr>

            <div class="details-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.getName() }}</h3>
                        <p class="card-text">{{ product.getCategory().getName() }}</p>
                        <p class="card-text">{{ product.getPrice() }} $</p>
                        <p class="card-text">{{ product.getDescription() }}</p>
                    </div>
                </div>
            </div>

            <div class="mb-3 quantity">
                <label for="inputQuantity">Quantity</label>
                <input type="number" value="{{ quantity }}" name="quantity" id="inputQuantity" step="1" class="form-control" autocomplete="quantity" required autofocus>
            </div>

            <button type="submit" class="btn btn-success">Add</button>
            <a href="{{ path('app_products') }}" class="btn btn-danger">Cancel</a>

        </form>

    </div>
{% endblock %}