{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - My cart{% endblock %}

{% block content %}
    <div class="content">

        <div class="table">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cartPosition in cartPositions %}
                    <tr>
                        <td>{{ cartPosition.getProduct().getName() }}</td>
                        <td>{{ cartPosition.getQuantity() }}</td>
                        <td>{{ cartPosition.getProduct().getPrice() }} $</td>
                        <td>{{ cartPosition.getProduct().getPrice() * cartPosition.getQuantity() }} $</td>
                        <td>
                            <a href="{{ path('edit_cart_product', {'id': cartPosition.getId()}) }}" class="btn btn-primary">Edit</a> |
                            <a href="{{ path('remove_product_from_cart', {'id': cartPosition.getId()}) }}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                {% if cartPositions|length > 0 %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {{ amount }} $
                        </td>
                        <td>

                            <a href="{{ path('order_all') }}" class="btn btn-warning">Order All</a>

                        </td>
                    </tr>
                {% endif %}
                </tfoot>
            </table>
        </div>

    </div>
{% endblock %}