{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Categories{% endblock %}

{% block content %}
    <div class="content">

        <div class="table">
            <a type="button" href="{{ path('add_category') }}" class="btn btn-success">Add new category</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ category.getId() }}</th>
                        <td>{{ category.getName() }}</td>
                        <td>{{ category.getDescription() }}</td>
                        <td>
                            <a href="{{ path('edit_category', {'id': category.getId()}) }}" class="btn btn-primary">Edit</a> |
                            <a href="{{ path('delete_category', {'id': category.getId()}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}