{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Products{% endblock %}

{% block content %}
    <div class="cards-content">

        <form method="get" class="filters">

            <div class="filter-field">

                <label for="inputCategory">Category</label>

                <div class="filter-work-field">
                    <select class="form-select" aria-label="Default select example" name="category"
                            id="selectCategory"
                            autocomplete="category">
                        <option value="0">All</option>
                        {% for category in categories %}
                            <option value="{{ category.getId() }}"
                                    {% if category.getId() == categoryId %}
                                        selected
                                    {% endif %}
                            >{{ category.getName() }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-warning filter-button">Find</button>
                </div>

            </div>

        </form>

        {% if bestProducts|length > 0 %}
            <h3 class="section-header">Most relevant products</h3>
            <hr>
        {% endif %}
        {% for key, product in bestProducts %}

            {% if key % 3 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.getName() }}</h3>
                        <p class="card-text">{{ product.getCategory().getName() }}</p>
                        <p class="card-text">{{ product.getPrice() }} $</p>
                        {% if app.user != null %}
                        <a href="{{ path('product_details', {'id': product.getId()}) }}" class="btn btn-primary">Details</a>
                        {% endif %}
                        {% if app.user != null and 'ROLE_ADMIN' in app.user.roles %}
                            | <a href="{{ path('edit_product', {'id': product.getId()}) }}"
                                 class="btn btn-warning">Edit</a> |
                            <a href="{{ path('delete_product', {'id': product.getId()}) }}"
                               class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if (key + 1) % 3 == 0 %}
                </div>
            {% endif %}

        {% endfor %}
            </div>

        <h3 class="section-header mt-3">All products</h3>
        <hr>
        {% for key, product in products %}

            {% if key % 3 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.getName() }}</h3>
                        <p class="card-text">{{ product.getCategory().getName() }}</p>
                        <p class="card-text">{{ product.getPrice() }} $</p>
                        {% if app.user != null %}
                            <a href="{{ path('product_details', {'id': product.getId()}) }}" class="btn btn-primary">Details</a>
                        {% endif %}
                        {% if app.user != null and 'ROLE_ADMIN' in app.user.roles %}
                            | <a href="{{ path('edit_product', {'id': product.getId()}) }}"
                                 class="btn btn-warning">Edit</a> |
                            <a href="{{ path('delete_product', {'id': product.getId()}) }}"
                               class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if (key + 1) % 3 == 0 %}
                </div>
            {% endif %}

        {% endfor %}
            </div>
    </div>
{% endblock %}