{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edit order{% endblock %}

{% block content %}
    <div class="content">

        <form method="post">
            <div class="table">
                <h3>Edit order</h3>

                <div class="order-header">
                    <h3>Order #{{ order.getId() }} - User: {{ order.getUser().getEmail() }}</h3>
                </div>
                <hr>
                <div class="status-info">
                    <div class="category-field">
                        <label for="selectStatus" class="mb-1">Status</label>
                        <select class="form-select" aria-label="Default select example" name="status" id="selectStatus"
                                autocomplete="status">
                            {% for status in statuses %}
                                <option value="{{ status.getId() }}"
                                        {% if status.getId() == order.getStatus().getId() %}
                                            selected
                                        {% endif %}
                                >{{ status.getName() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartPosition in order.getCartPositions() %}
                        <tr>
                            <td>{{ cartPosition.getProduct().getName() }}</td>
                            <td>{{ cartPosition.getQuantity() }}</td>
                            <td>{{ cartPosition.getProduct().getPrice() }} $</td>
                            <td>{{ cartPosition.getProduct().getPrice() * cartPosition.getQuantity() }} $</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{{ path('app_orders') }}" class="btn btn-danger">Cancel</a>
            </div>
        </form>

    </div>
{% endblock %}