{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - My orders{% endblock %}

{% block content %}
    <div class="content">

        {% if orders|length == 0 %}
            <h3>You have no order history.</h3>
        {% endif %}
        {% for order in orders %}
            <div class="table">
                <div class="order-header">
                    <h2>Order #{{ order.getId() }}</h2>
                </div>
                <hr>
                <div class="status-info">
                    {% set status = order.getStatus().getId() %}
                    {% if status == 3 %}
                        <span style="color: #28a745;">Status: {{ order.getStatus().getName() }}</span>
                    {% elseif status == 4 %}
                        <span style="color: #dc3545">Status: {{ order.getStatus().getName() }}</span>
                    {% endif %}
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartPosition in order.getCartPositions() %}
                        <tr>
                            <td>{{ cartPosition.getProduct().getName() }}</td>
                            <td>{{ cartPosition.getQuantity() }}</td>
                            <td>{{ cartPosition.getProduct().getPrice() }} $</td>
                            <td>{{ cartPosition.getProduct().getPrice() * cartPosition.getQuantity() }} $</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {# <tfoot> #}
                    {#                {% if cartPositions|length > 0 %}#}
                    {#                    <tr>#}
                    {#                        <td></td>#}
                    {#                        <td></td>#}
                    {#                        <td></td>#}
                    {#                        <td>#}
                    {#                            {{ amount }} $#}
                    {#                        </td>#}
                    {#                        <td>#}

                    {#                            <a href="{{ path('order_all') }}" class="btn btn-warning">Order All</a>#}

                    {#                        </td>#}
                    {#                    </tr>#}
                    {#                {% endif %}#}
                    {#                </tfoot>#}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}